{% extends "layout.html" %}

{% block title %}
    Create Flight
{% endblock %}

{% block body %}
    <h1>Create Flight</h1>
    
    <form action="{{ url_for('create_flight') }}" method="POST">
        <label for="origin">Origin</label>
        <input name="origin" id="origin">
        <label for="destination">Destination</label>
        <input name="destination" id="destination">
        <label for="duration">Duration</label>
        <input type="number" name="duration" id="duration">
        <button>Submit</button>
    </form>
{% endblock %}
